<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>All people</title>
</head>
<body>

<h3 class="title  mt-2 text-center">Список пользователей</h3>
<div class="container">

    <div class="row align-content-center bg-light border border-info mt-3 mb-1" th:each="user : ${users}">
        <div class="col-2 align-self-center" th:text="${user.getFirstname()}"></div>
        <div class="col-2 align-self-center" th:text="${user.getLastname()}"></div>
        <div class="col-2 align-self-center" th:text="${user.getEmail()}"></div>
<!--        <div class="col-1 align-self-center" th:text="${user.getAge()}"></div>-->
        <div class="col-2 align-self-center bg-info">
            <div th:each="role :${user.getRoles()}" th:text="${role.getName()}"></div>
        </div>

        <div class="col-4 list-buttons d-flex align-self-center align-items-center justify-content-end">
            <a class="btn btn-primary mr-1" role="button" th:href="@{/admin/user/{username}(username=${user.getFirstname()})}">Смотреть</a>
            <a class="btn btn-primary mr-1" role="button" th:href="@{/edit/{username}(username=${user.getFirstname()})}">Изменить</a>
            <a class="btn btn-danger" th:href="@{/admin/delete/{username}(username=${user.getFirstname()})}">Удалить</a>
        </div>
    </div>


    <div class="row justify-content-around mt-4">
        <div class="col-3 d-flex justify-content-end">
            <a class="btn btn-primary align-self-center" href="/new">Добавить пользователя</a>
        </div>
        <div class="col-3 d-flex justify-content-start">
            <a class="btn btn-primary align-self-center" href="/logout">Выйти</a>
        </div>

    </div>

</div>
</body>
<style>
    .row{
        min-height: 50px;
    }


</style>
</html>