<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>All people</title>
</head>
<body>

<div class="">

    <nav class="navbar navbar-dark bg-dark text-light">
        <div>
            <span id="principal-name" class="font-weight-bold color text-light" sec:authentication="name"></span> with roles:
                        <span id="principal-roles" class="text-light"></span>
        </div>
        <a href="/logout" class="text-white-50 text-decoration-none ml-auto">Logout</a>
    </nav>

    <div class="row m-0">
        <div class="col-2 pl-0 pr-0">
            <ul class="nav flex-column pt-2">
                <li>
                    <a href="/admin" class="btn btn-primary btn-block text-left">Admin</a>
                </li>
                <li>
                    <a href="/user" class="btn btn-outline btn-block text-left">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light pr-4 pl-4">
            <h1 class="mt-2">Admin panel</h1>

            <ul class="nav nav-tabs mt-2 mr-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new"
                       aria-selected="false" name="new">New User</a>
                </li>
            </ul>
            <div class="tab-content border mr-4" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h4 class="pl-4 pt-2 pb-3 bg-light border-bottom">All users</h4>
                    <div class="p-4">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="tbodyall">

                            </tbody>
                        </table>
                    </div>

                    <th:block th:replace="_modals :: modal('deleteModal')">modal</th:block>
                    <th:block th:replace="_modals :: modal('editModal')">modal</th:block>


                </div>
                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="profile-tab">
                    <h4 class="pl-4 pt-2 pb-3 bg-light border-bottom">Add new User</h4>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <form class="text-center" id="formNew">
                                <div class="form-group text-center">
                                    <label for="firstname" class="font-weight-bold">Firstname</label>
                                    <input class="form-control bg-warning" type="text" id="firstname" required/>
                                    <!--                                    <p class="alert alert-danger" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>-->
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="font-weight-bold">Lastname</label>
                                    <input class="form-control bg-warning" type="text" id="lastname" required/>
                                </div>
                                <div class="form-group">
                                    <label for="age" class="font-weight-bold">Age</label>
                                    <input class="form-control" type="text" id="age"/>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="font-weight-bold">Email</label>
                                    <input class="form-control bg-warning" type="text" id="email" required/>
                                    <!--                                    <p class="alert alert-danger"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>-->
                                </div>
                                <div class="form-group">
                                    <label for="password" class="font-weight-bold">Password</label>
                                    <input class="form-control" type="password" id="password"/>
                                    <!--                                <p class="alert alert-danger"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>-->
                                </div>

                                <div class="form-group">
                                    <label for="editRoles" class="font-weight-bold">Role</label>
                                    <select multiple size="2" name="roles" class="form-control" id="editRoles" required>

                                    </select>
                                    <!--                                    <p class="alert alert-danger"  th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></p>-->
                                </div>

                                <button class="btn btn-success font-weight-bold">Add new user</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>

    $(document).ready(function () {
        let url = 'http://localhost:8080/admin';

        const principal = $('#principal-name').text();;
        let principalRoles;

        function insertUserRow(user) {
            let $tr = $('<tr>').append(
                $('<td>').text(user.id).attr('data-id','id'),
                $('<td>').text(user.firstname).attr('data-id','firstname'),
                $('<td>').text(user.lastname).attr('data-id','lastname'),
                $('<td>').text(user.age).attr('data-id','age'),
                $('<td>').text(user.email).attr('data-user-email', user.email).prop('data-id','email'),
                $('<td>').text(user.roles.map(r => r.name).join(" ")).attr('data-id','roles'),
                $('<td>').attr('data-id','btnEdit').html(`<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"` +
                    `           data-user-email="${user.email}">Edit</button>`),
                $('<td>').attr('data-id','btnDelete').html(`<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"` +
                    `                    data-user-email="${user.email}">Delete</button>`)
            ).appendTo('#tbodyall');
        }

        function editRow(user){
            let $row = $(`table td:contains("${user.id}")`).parent();

                $row.children(`td[data-id=firstname]`).text(user.firstname),
                    $row.children(`td[data-id=lastname]`).text(user.lastname),
                    $row.children(`td[data-id=age]`).text(user.age),
                    $row.children(`td[data-id=email]`).text(user.email).attr('data-user-email', user.email),
                    $row.children(`td[data-id=roles]`).text(user.roles.map(r => r.name).join(" ")),
                    $row.children(`td[data-id=btnEdit]`).html(`<button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"` +
                    `           data-user-email="${user.email}">Edit</button>`),
                    $row.children(`td[data-id=btnDelete]`).html(`<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"` +
                    `                    data-user-email="${user.email}">Delete</button>`)


        }

        //заполнение таблицы
        function getAll() {
            fetch(url + ':all').then(function (response) {
                response.json().then(function (json) {
                    $.each(json, function (i, user) {
                        insertUserRow(user);
                        if (user.email === principal) {
                            setPrincipalRoles(user.roles);
                        }
                    });
                });
            });
        }

        function getRoles(target, userRoles) {
            if (!fetch(url + ':roles').then(function (response) {
                response.json().then(function (json) {
                    $.each(json, function (i, role) {
                        let $option =  $('<option>').text(role.name).val(role.id);
                        if (userRoles !== undefined && userRoles.find(r => r.id === role.id)) {
                           $option.prop("selected", "true");
                        }
                        $option.appendTo(target);
                    })
                })
            })) {
                alert('Невозможно загрузить спискок ролей')
            }
        }

        function setPrincipalRoles(roles) {
            $('#principal-roles').text(roles.map(r => r.name).join(", "));
        }

        function userToJson(target) {
            let form = $(`${target} input`);
            let obj = {};

            $.each(form, (i, item)=>{
                obj[item.id] = item.value;
            });

            let roleSelector = document.querySelector(`${target} #editRoles`);
            console.log(roleSelector.options);
            let roles = [...roleSelector.options].filter(option => option.selected).map(option => new Object({
                'id': option.value,
                'name': option.innerHTML
            }));

            obj['roles'] = roles;
            return JSON.stringify(obj);
        }

        function postNewUser() {

            let json = userToJson('#formNew');

            let newUser = post('POST', json);
            newUser.then((data) => {
                    insertUserRow(data);
                    $('.nav-tabs a[href="#home"]').tab('show');
                },
                (error) => {
                    alert('Что пошло не так');
                });
        }

        async function post(method, body) {
            let response = await fetch(url + ':UserDto', {
                method: method,
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: body
            });

            const res = await response.json();
            return res;
        }

        function fillFormFields(data, form) {
            $.each(data, (key, value) => {
                console.log('key = ' + key + ', value = ' + value);
                $(`${form} input[id=${key}]`).val(value);
            })
            if(form === '#delete-form') {
                $.each(data.roles, function (i, role) {
                    let $option = $('<option>').text(role.name).val(role.id).appendTo(`${form} select[id=editRoles]`);
                })
            } else if (form === '#edit-form') {
                getRoles('#edit-form #editRoles', data.roles);
            }

        }

        getAll();
        getRoles('#formNew #editRoles');

        $('#formNew').on('submit', function (e) {
            e.preventDefault();
            postNewUser();
        });





        /// ========  секция модальных окон ======================================================

        $('#deleteModal').on('show.bs.modal', function (e) {
            let email = $(e.relatedTarget).data('user-email');
            $.get("/modals/delete?email=" + email, function (data) {
                $('#deleteModal').find('.modal-content').html(deleteModal);
                fillFormFields(data, '#delete-form');

                $('button[id=submitdel]').on('click', function () {
                    let id = $('#delete-form input[id=id]').val();
                    (async () => {
                        let response = await fetch(url + ':id=' + id, {
                            method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'same-origin', // include, *same-origin, omit
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer', // no-referrer, *client
                        });

                        if (response.ok) {
                            $('.modal-header button.close').click();
                            $(`table td:contains("${id}")`).parent().remove();
                        } else {
                            alert('Ошибка удаления!');
                            $('.modal-header button.close').click();
                        }
                    })();
                });
            })
        });

        $('#editModal').on('show.bs.modal', function (e) {
            let email = $(e.relatedTarget).data('user-email');
            $.get("/modals/edit?email=" + email, function (data) {
                $('#editModal').find('.modal-content').html(editModal);
                fillFormFields(data, '#edit-form');

                $('button[id=submitedit]').on('click', function () {
                    let json = userToJson('#edit-form');

                    let editUser = post('PATCH', json);
                    editUser.then((data) => {
                            editRow(data);
                            $('.modal-header button.close').click();
                        },
                        (error) => {
                            alert('Ошибка сохранения изменений');
                            $('.modal-header button.close').click();
                        });

                    });
                });
        });


        let deleteModal = `
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container mt-3">
                                    <div class="row justify-content-center mt-3">
                                        <div class="col-7">
                                            <form id="delete-form" class="text-center">
                                                <div class="form-group">
                                                    <label for="id">ID</label>
                                                    <input class="form-control" type="text" id="id" disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="firstname">Firstname</label>
                                                    <input class="form-control" type="text"  id="firstname" disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastname">Lastname</label>
                                                    <input class="form-control" type="text"  id="lastname" disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="age">Age</label>
                                                    <input class="form-control" type="text" id="age" disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input class="form-control" type="text" id="email"  disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input class="form-control" type="password"  id="password" disabled/>
                                                </div>
                                                <div class="form-group">
                                                    <label>ROLES:</label>
                                                    <select multiple size="2" name="roles" class="form-control" id="editRoles" disabled>

                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button id="submitdel" class="btn btn-danger">Delete</button>
                            </div>`;

        let editModal = `
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <div class="row justify-content-center mt-3">
                            <div class="col-7">
                                <form id="edit-form" class="text-center">
                                    <div class="form-group">
                                        <label for="id">ID</label>
                                        <input class="form-control" type="text" id="id" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstname">Firstname</label>
                                        <input class="form-control" type="text" id="firstname" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input class="form-control" type="text" id="lastname" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input class="form-control" type="text" id="age"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" type="text" id="email" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" id="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label>ROLES:</label>
                                        <select multiple size="2" name="roles" class="form-control" id="editRoles">

                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" id="submitedit">Edit</button>
                </div>`
    })


</script>
</body>
</html>