<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p>Welcome to Homepage</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-3"><a class="btn btn-primary" href="/login" role="button">Login</a></div>
        <div class="col-3"><a class="btn btn-primary" href="/login" role="button">Login</a></div>
    </div>
</div>

</body>
</html>