<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<title>Login</title>
</head>
<body>

<div class="container pt-4">
    <form class="form-signin mx-auto" action="/login" method="POST">
        <h3 class="form-signin-heading">Please sign in</h3>
        <div>
            <input class="form-control"
                   type="email"
                   placeholder="email address"
                   name="email"
                   id="email">
        </div>
        <div >
            <input class="form-control"
                   type="password"
                   placeholder="password"
                   name="password"
                   id="password">
        </div>
        <input class="form-control btn btn-primary btn-block mt-2" type="submit" value="Sign in">
    </form>

</div>
</body>
<style>
    .form-signin {
        max-width: 300px;
    }

</style>
</html>