<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <title>Профиль пользователя</title>
</head>
<body>

<div class="container mt-3">
    <h3 class="text-center">Профиль пользователя</h3>
    <div class="row justify-content-center mt-3">
        <div class="col-4">
            <form th:object="${user}">
                <div class="form-group">
                    <label for="firstname">Пользователь</label>
                    <input class="form-control" type="text" th:field="*{firstname}" id="firstname" disabled/>
                </div>
                <div class="form-group">
                    <label for="lastname">Фамилия</label>
                    <input class="form-control" type="text" th:field="*{lastname}" id="lastname" disabled/>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input class="form-control" type="password" th:field="*{password}" id="password" disabled/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" id="email" th:field="*{email}" disabled/>
                </div>
                <div class="form-group">
                    <label>ROLES:</label>
                    <select multiple size="2" name="roles" class="form-control" id="editRoles" disabled>
                        <option th:each="role : ${roles}"
                                th:text="${role.getName()}"
                                th:value="${role.getId()}"
                                th:selected="${user.hasAuthorities('__${role.getName}__')}"
                        >
                        </option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-4 d-flex justify-content-center" >
            <a href="/logout" type="button" class="btn btn-primary">Выйти</a>
            <a href="/admin" type="button" class="btn btn-primary ml-auto" sec:authorize="hasRole('ADMIN')">Вернутся</a>
        </div>
    </div>


</div>
</body>
</html>